@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-ink font-body antialiased;
}

h1, h2, h3, h4 {
  @apply font-display;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #C7CBE0;
  border-radius: 999px;
}
